<div class="tabbable tabbable-custom boxless">
    <div class="tab-content" id="datatable_ajax_history" data-url="{{ url('it_doors_history_list') }}">
         {{ render(controller('ITDoorsHistoryBundle:History:list')) }}
    </div>
</div>