/web/bundles/
/web/uploads/document/
/web/files/email/*
/web/files/upload/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
#!app/cache/.gitkeep
#!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/composer.phar
/logs
/build.properties
/*~
/nbproject
nbproject/*
/app/share/1c/debt/
/web/uploads/dogovor/
/web/uploads/handling_message/