/web/bundles/
/web/uploads/*
/web/files/email/*
/web/files/upload/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/node/ami/config/local.json
/node/node_modules
/node/node_modules/*
/app/logs/*
#!app/cache/.gitkeep
#!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/composer.phar
/logs
/build.properties
/*~
/app/share/1c/debt/
/composer.lock
/components/
/web/cache/*
/tests/_output/
.buildpath
.project
.settings/
.externalToolBuilders/
/app/share/1c/bank/