/web/bundles/
/web/uploads/document/
/web/uploads/task/
/web/files/email/*
/web/files/upload/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/node/ami/config/local.json
/node/node_modules
/node/node_modules/*
/app/logs/*
#!app/cache/.gitkeep
#!app/logs/.gitkeep
/build/
/vendor/
/bin/
/.idea
/composer.phar
/logs
/build.properties
/*~
/nbproject
nbproject/*
/app/share/1c/debt/
/web/uploads/dogovor/
/web/uploads/handling_message/
/web/uploads/document/
/composer.lock
/components/
/web/cache/*
/web/uploads/userprofiles/*
/tests/_output/
/web/uploads/blogimages/
.buildpath
.project
.settings/
