{% extends "::call.html.twig" %}
{% block js_page_init_scripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            ITDoorsSip.initIO('{{ app.user.peerId }}', 'model_contact', '');

            callbackHangup = function(uniqueId) {
                alert('Call hangup callback ' + uniqueId);
            }

            ITDoorsSip.initSIP('{{ app.user.peerId }}', '{{ app.user.peerPassword }}', '0936469394', callbackHangup);
        });
    </script>
{% endblock %}
{% block body %}
    <a href="#" class="hangup-btn"></a>
{% endblock %}