<table>
    <tbody>
        <tr>
            <td align="center" valign="top">
                <table align="center" style="width: 100%;background: #1f1f1f;">
                    <tbody>
                        <tr>
                            <td style="text-align: center;" align="center">
                                <table style="width: 585px;margin: 0 auto;text-align: inherit;" align="center">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table style="display: block;padding: 0px;width: 100%;position: relative;vertical-align: top;text-align: left; ">
                                                    <tbody>
                                                        <tr>
                                                            <td style="padding: 10px 20px 0px 0px; position: relative;;vertical-align: middle;">
                                                                <table style="width: 280px;"> 
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="padding: 0px 0px 10px;vertical-align: middle;">
                                                                                <a href="http://www.griffin.ua" style="background-image: url(http://sd.griffin.ua/templates/core/img/logo-small-gray.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 104px;cursor: pointer;height: 14px;"></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                            <td style="padding-right: 0px;padding: 10px 20px 0px 0px; position: relative;vertical-align: middle;">
                                                                <table style="width: 280px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                <table align="right" style="float: right;vertical-align: top; text-align: left;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="//www.facebook.com/pages/%D0%98%D0%BC%D0%BF%D0%B5%D0%BB-%D0%93%D1%80%D0%B8%D1%84%D1%84%D0%B8%D0%BD/191430010917393" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/facebook.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                            <td class="vertical-middle" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="https://twitter.com/ImpelGriffin" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/twit.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                            <td class="vertical-middle" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="https://plus.google.com/+GriffinUa/posts" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/google.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                            <td class="vertical-middle" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="http://www.linkedin.com/company/impel-griffin?trk=company_name" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/in.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                            <td class="vertical-middle" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="http://vk.com/impelgriffin" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/vk.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                            <td class="vertical-middle" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;padding: 0 2px !important;width: auto !important;">
                                                                                                <a href="https://www.youtube.com/user/impelgriffin/" style="background-image: url(http://sd.griffin.ua/templates/core/img/socialmedia/youtube.png);outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;width: auto;height: auto;max-width: none !important;float: left;clear: both;display: block;width: 30px;height: 30px;background-repeat: no-repeat;cursor: pointer;"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div style="text-align: left;"><br></div>
                <br>
                <table align="center" style="width: 580px; margin: 0 auto; text-align: inherit;">
                    <tbody>
                        <tr>
                            <td style="background: #fff; padding: 15px !important;">
                                <table style="padding: 0px; width: 100%; position: relative;display: block;">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 10px 20px 0px 0px; position: relative;">
                                                {% autoescape false %}
                                                {{ html }}
                                                {% endautoescape %}
                                                <div>
                                                    <span style="line-height: 14px;"><br></span>
                                                </div>
                                                <div>
                                                    <span style="line-height: 14px;">&nbsp;Удачного дня.</span>
                                                </div>
                                                <div>
                                                    <span style="line-height: 14px;"><br></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table align="center" style="width: 100%;background: #2f2f2f;">
                                    <tbody>
                                        <tr>
                                            <td align="center" style="vertical-align: middle;color: #fff;text-align: center;">
                                                <table style="width: 590px;margin: 0 auto;text-align: inherit;" align="center">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <table style="display: block;padding: 0px; width: 100%; position: relative;vertical-align: top; text-align: left;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="vertical-align: middle;color: #fff;padding: 10px 20px 0px 0px;text-align: left;">
                                                                                <span style="font-size:12px;">
                                                                                    <i>
                                                                                        Это письмо автоматически создано системой ImpelNET. Отвечать на него нет необходимости.
                                                                                    </i>
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="display: block;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="vertical-align: middle;color: #fff;">
                                                                                <table class="four columns">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="padding-top: 0;padding-bottom: 0;vertical-align: middle;color: #fff;">
                                                                                                (c) Impel Griffin Group 1995-2014
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                            <td style="vertical-align: middle;color: #fff;">
                                                                                <table style="width: 340px;">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td class="vertical-middle align-reverse" style="padding-top: 0;padding-bottom: 0;vertical-align: middle;text-align: right;color: #fff;">
                                                                                                <a href="http://www.griffin.ua" style="cursor: pointer;color: #fff;">
                                                                                                    О нас
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>