{# 
Language Dropdown template
Muzyka Dmytro
25.11.2013
#}

<!-- BEGIN LANGUAGE DROPDOWN -->
<li class="dropdown language">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
		<img alt="" src="assets/img/flags/us.png" />
		<span class="username">US</span>
		<i class="fa fa-angle-down"></i>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#"><img alt="" src="assets/img/flags/ru.png" /> Russian</a></li>
		<li><a href="#"><img alt="" src="assets/img/flags/ua.png" /> Ukrainian</a></li>
	</ul>
</li>
<!-- END LANGUAGE DROPDOWN -->