{# 
Language Dropdown template
Muzyka Dmytro
25.11.2013
#}

<!-- BEGIN LANGUAGE DROPDOWN -->
<li class="dropdown language">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
		<img alt="English" src="{{ asset('templates/metronic/img/flags/gb.png') }}" />
		<span class="username">EN</span>
		<i class="fa fa-angle-down"></i>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#"><img alt="Russian" src="{{ asset('templates/metronic/img/flags/ru.png') }}" /> Russian</a></li>
		<li><a href="#"><img alt="Ukrainian" src="{{ asset('templates/metronic/assets/img/flags/ua.png') }}" /> Ukrainian</a></li>
	</ul>
</li>
<!-- END LANGUAGE DROPDOWN -->