<div id="service-cover-list" data-url="{{ path('lists_organization_service_cover_list', {
    organizationId: organizationId
}) }}">
    {{ render(controller('ListsOrganizationBundle:ServiceCover:List', {
        organizationId: organizationId
    })) }}
</div>