{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsHandlingBundle' %}
{% block title %}{% trans %}List of Handlings{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Handling <small>list of handlings</small>{% endtrans %}
    </h3>
{% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_handling_index') }}" title="{% trans %}Handlings{% endtrans %}">{% trans %}Handlings{% endtrans %}</a></li>
	</ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content ajax-tab-holder">
                <div class="note note-danger">
                    <h4 class="block">{% trans %}You don`t access{% endtrans %}</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
