{% trans_default_domain 'SDTaskBundle' %}
<script>
    $(document).ready(function(){
        $('.modal_task').die('click')
        $('.modal_task').live('click', function(e){
            var id = $(this).data('id');
            var url = $('#more_info_input').data('url_task_modal');
            var sendData = {
                    'id': id
                }
            var spinner = $('#spinner');
            spinner.removeClass('notDisplayed');
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    //alert(data1)
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        $('#taskViewTpl').html('').html(data.html);
                        $('#form_modal_task_view').modal('show');
                    } else {
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }
                    spinner.addClass('notDisplayed');

                }

            })
        })

        $('#taskFilterButton').die('click');
        $('#taskFilterButton').bind('click', function(e){
            e.preventDefault();

            var spinner = $('#spinner');
            spinner.removeClass('notDisplayed');

            var filtersCheckboxes = $('.roleFilter:checked');
            var filter = new Array();
            var filterRole = new Array();

            for (var i=0; i<filtersCheckboxes.length; i++) {
                filterRole.push(filtersCheckboxes[i].value);
            }
            //alert(filter);
            filter = {
                'role': filterRole
            }
            var url = $('#more_info_input').data('url_task_ajax_table');
            var sendData = {
                    'filter': filter
                }
            $.ajax({
                type: 'POST',
                url: url,
                data: sendData,
                success: function(data1) {
                    data = JSON.parse(data1);
                    if (data.success == 1) {
                        console.log(data.html);
                        spinner.addClass('notDisplayed');
                        $('#feeds_holder').html(data.html);
                        //ITDoorsAjax.unblockUI($('#tasks_list'));
                        //$('#tasks_list').html('').html(data.html);
                        //$('#form_modal_task_view').modal('show');
                    } else {
                        alert('error');
                        //$('#copy_etalon_finished').show('blind', {}, 500);
                    }

                }

            })
        })


/*
        $('#set_filters_on').die('click');
        $('#set_filters_on').bind('click', function(e){
            //e.preventDefault();
            var filtersCheckboxes = $('.roleFilter');
            if ($('#set_filters_on').prop('checked')) {
                var checked = true;
            } else {
                var checked = false;
            }
            //alert(filtersCheckboxes)
            for (var i=0; i<filtersCheckboxes.length; i++) {
                filtersCheckboxes[i].checked = checked;
            }
        })
*/

    })
</script>
<style>
    .notDisplayed{
        display: none;
    }
    .feeds li:hover{
        background-color: #f0f0f0;
    }
</style>
<div id="form_modal_task" class="modal fade" tabindex="-1" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans %}Create task{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div id="taskFormTpl1"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div class="portlet light bordered">
<div class="portlet-title">
    <div class="caption">
        <i class="icon-globe font-green-haze"></i>
        <span class="caption-subject font-green-haze ">{% trans %}Tasks{% endtrans %}</span>
        <span class="caption-helper"><i class="fa fa-spinner fa-spin notDisplayed" id="spinner"></i></span>
    </div>
    <div class="actions">
        <div class="btn-group">

            <a class="btn btn-sm btn-default btn-circle ajax-form" style="margin-right: 15px;"
                                          data-toggle="modal"
                                          href="#form_modal_task"
                                          data-target_holder="taskFormTpl1"
                                          data-form_name="taskForm1"
                                          data-post_function="updateList"
                                          data-post_target_id="tasks_list"
                    >{% trans %}Create task{% endtrans %}
                <i class="fa fa-plus"></i>
            </a>

            <a class="btn btn-sm btn-default btn-circle" href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                {% trans %}Filter by{% endtrans %} <i class="fa fa-angle-down"></i>
            </a>
            <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">

                {% for taskRole in allTaskRoles %}
                    {% if taskRole == 'author' %}
                        {% set icon = 'fa-pencil' %}
                        {% set label = 'label-danger' %}
                    {% elseif taskRole == 'performer' %}
                        {% set icon = 'fa-rocket' %}
                        {% set label = 'label-info' %}
                    {% elseif taskRole == 'controller' %}
                        {% set icon = 'fa-crosshairs' %}
                        {% set label = 'label-warning' %}
                        {#
                            {% elseif taskUserRole == 'done' %}
                                {% set icon = 'orange' %}
                                fa-eye
                        #}
                    {% endif %}
                <label><input type="checkbox" class="roleFilter" value="{{ taskRole }}"/>{{ taskRole|trans }}</label>
                {% endfor %}
{#
                <label><input type="checkbox" id="set_filters_on"/>{% trans %}All{% endtrans %}</label>
#}
{#
                <label><input type="checkbox"/> System</label>
#}
                <li class="divider">
                </li>
                <li>
                    <a class="btn red" id="taskFilterButton" >
                        <span style="color: white;">{% trans %}Filter{% endtrans %}</span>
                    </a>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="portlet-body">
<div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0" id="feeds_holder">
    {{ include ('SDTaskBundle:Dashboard:tableTasksRows.html.twig', {
    'tasksUserRole': tasksUserRole,
    }) }}

</div>
<div class="scroller-footer">
    <div class="btn-arrow-link pull-right">
        <a href="{{ path('sd_task_homepage') }}">{% trans %}See all{% endtrans %}</a>
        <i class="icon-arrow-right"></i>
    </div>
</div>
</div>
</div>
