{{ ajax_filter_render('StatisticCoworkerFilterFormType', 'oper.statistic.coworker', {
'statistic_coworker': 'ITDoorsAjax.updateList'
}) }}


<div id="statistic_coworker" data-url="{{ path('it_doors_oper_statistic_coworker_render_filter_result') }}">




</div>