{{ ajax_filter_render('StatisticFilterFormType', 'oper.statistic', {
'statistic_filter': 'ITDoorsAjax.updateList'
}) }}


<div id="statistic_filter" data-url="{{ path('it_doors_oper_statistic_render_filter_result') }}">







</div>