{% trans_default_domain 'ListsProjectBundle' %}
<div class="tab-pane" id="tab_1">
    <div class="col-md-12">
        <h3>{% trans %}Messages{% endtrans %}</h3>
        {% if access.canAddMessage %}
            {{ include ('ListsProjectBundle:Project/Button:addMessage.html.twig')}}
        {% endif %}
        
        <div id="messages_list" data-url="{{ path('lists_project_messages_list', { id:object.id }) }}">
            {{ render(controller('ListsProjectBundle:ProjectBase:messagesList', { id:object.id })) }}
        </div>
    </div>
</div>
