Lists\OrganizationBundle\Entity\OrganizationCurrentAccount:
    type: entity
    table: organization_current_account
    repositoryClass: Lists\OrganizationBundle\Entity\OrganizationCurrentAccountRepository
    id:
        id:
            id: true
            type: bigint
            generator:
                strategy: IDENTITY
    fields:
        name:
            type: string
            length: 255
            nullable: false
            options:
                comment: ะ/ะก
    manyToOne:
        typeAccount:
            targetEntity: OrganizationCurrentAccountType
            inversedBy: null
            joinColumn:
                name: type_id
                referencedColumnName: id
        organization:
            targetEntity: Organization
            inversedBy: null
            joinColumn:
                name: organization_id
                referencedColumnName: id
        bank:
            targetEntity: Bank
            inversedBy: null
            joinColumn:
                name: bank_id
                referencedColumnName: id
