{#<a id="managers_list_new" class="btn green ajax-form"
   data-toggle="modal"
   href="#form_modal_contact"
   data-target_holder="modelContactFormTpl"
   data-form_name="modelContactOrganizationEditForm"
   data-post_function=""
   data-post_target_id=""
        >
    {% trans %}Create contact{% endtrans %} <i class="fa fa-comments"></i>
</a>#}
<div id="change-password-form" data-url="{{ path('sd_user_change_password_form', { id : item.id }) }}">
    {{ render(controller('SDUserBundle:User:ChangePasswordForm', {
        id: item.id
    })) }}
</div>