{% trans_default_domain 'SDUserBundle' %}
<div class="tab-pane active" id="tab_1_3">
    <div class="row profile-account">
        <div class="col-md-3">
            <ul class="ver-inline-menu tabbable margin-bottom-10">
                <li class="active">
                    <a data-toggle="tab" href="#tab_1-1">
                        <i class="fa fa-cog"></i>{% trans %}Contaсts{% endtrans %}</a>
                    <span class="after">
                    </span>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab_2-2">
                        <i class="fa fa-picture-o"></i>{% trans %}Change Avatar{% endtrans %}</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab_3-3">
                        <i class="fa fa-lock"></i>{% trans %}Change Password{% endtrans %}</a>
                </li>
                {#<li>
                    <a data-toggle="tab" href="#tab_4-4">
                        <i class="fa fa-eye"></i> Privacity Settings </a>
                </li>#}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                <div id="tab_1-1" class="tab-pane active">
                    <form role="form" action="#">
                        <div class="form-group">
                            <label class="control-label">First Name</label>
                            <input type="text" placeholder="John" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Last Name</label>
                            <input type="text" placeholder="Doe" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Mobile Number</label>
                            <input type="text" placeholder="+1 646 580 DEMO (6284)" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Interests</label>
                            <input type="text" placeholder="Design, Web etc." class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Occupation</label>
                            <input type="text" placeholder="Web Developer" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">About</label>
                            <textarea class="form-control" rows="3" placeholder="We are KeenThemes!!!"></textarea>
                        </div>
                        <div class="margiv-top-10">
                            <a href="#" class="btn green">
                                Save Changes </a>
                        </div>
                    </form>
                </div>
                <div id="tab_2-2" class="tab-pane">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                    </p>
                    <form action="#" role="form">
                        <div class="form-group">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                                </div>
                                <div>
                                    <span class="btn default btn-file">
                                        <span class="fileinput-new">
                                            Select image </span>
                                        <span class="fileinput-exists">
                                            Change </span>
                                        <input type="file" name="...">
                                    </span>
                                    <a href="#" class="btn default fileinput-exists" data-dismiss="fileinput">
                                        Remove </a>
                                </div>
                            </div>
                            <div class="clearfix margin-top-10">
                                <span class="label label-danger">
                                    NOTE! </span>
                                <span>
                                    Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                            </div>
                        </div>
                        <div class="margin-top-10">
                            <a href="#" class="btn green">
                                Submit </a>
                            <a href="#" class="btn default">
                                Cancel </a>
                        </div>
                    </form>
                </div>
                <div id="tab_3-3" class="tab-pane">
                    <div id="change-password-form" data-url="{{ path('sd_user_change_password_form', { id : item.id }) }}">
                        {{ render(controller('SDUserBundle:User:ChangePasswordForm', {
                            id: item.id
                        })) }}
                    </div>

                    {# <form action="#">
                         <div class="form-group">
                             <label class="control-label">Current Password</label>
                             <input type="password" class="form-control"/>
                         </div>
                         <div class="form-group">
                             <label class="control-label">New Password</label>
                             <input type="password" class="form-control"/>
                         </div>
                         <div class="form-group">
                             <label class="control-label">Re-type New Password</label>
                             <input type="password" class="form-control"/>
                         </div>
                         <div class="margin-top-10">
                             <a href="#" class="btn green">
                                 Change Password </a>
                             <a href="#" class="btn default">
                                 Cancel </a>
                         </div>
                     </form>#}
                </div>
                <div id="tab_4-4" class="tab-pane">
                    <form action="#">
                        <table class="table table-bordered table-striped">
                            <tr>
                                <td>
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..
                                </td>
                                <td>
                                    <label class="uniform-inline">
                                        <input type="radio" name="optionsRadios1" value="option1"/>
                                        Yes </label>
                                    <label class="uniform-inline">
                                        <input type="radio" name="optionsRadios1" value="option2" checked/>
                                        No </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                </td>
                                <td>
                                    <label class="uniform-inline">
                                        <input type="checkbox" value=""/> Yes </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                </td>
                                <td>
                                    <label class="uniform-inline">
                                        <input type="checkbox" value=""/> Yes </label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Enim eiusmod high life accusamus terry richardson ad squid wolf moon
                                </td>
                                <td>
                                    <label class="uniform-inline">
                                        <input type="checkbox" value=""/> Yes </label>
                                </td>
                            </tr>
                        </table>
                        <!--end profile-settings-->
                        <div class="margin-top-10">
                            <a href="#" class="btn green">
                                Save Changes </a>
                            <a href="#" class="btn default">
                                Cancel </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--end col-md-9-->
    </div>
</div>