{% if app.user.hasRole('ROLE_CRM') %}
    <a href="{{ path('lists_organization_index') }}">
        {% trans %}Organizations list{% endtrans %}
    </a>
{% endif %}

{% if app.user.hasGroup('admin') %}
    user has group admin
{% endif %}

{{ render(controller('ListsHandlingBundle:Sales:List')) }}
{{ render(controller('SDCalendarBundle:Sales:HandlingMessage')) }}