{% if app.user.hasRole('ROLE_CRM') %}
    <a href="{{ path('lists_organization_index') }}">
        {% trans %}Organizations list{% endtrans %}
    </a>
{% endif %}

{% if app.user.hasGroup('admin') %}
    user has group admin
{% endif %}
<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-globe"></i> Действия</div>
    </div>
    <div class="tools">
        <a class="collapse" href="javascript:;"></a>
        <a class="reload" href="javascript:;"></a>
    </div>
    <div class="portlet-body"><a class="btn btn-lg blue" href="{{ path('lists_sales_handling_create_step1') }}">Создать проект <i class="fa fa-comments"></i></a></div>
</div>

{{ render(controller('ListsHandlingBundle:Sales:List')) }}
{{ render(controller('SDCalendarBundle:Sales:HandlingMessage')) }}