.portlet.calendar .fc-event.sd-event-next {
    background-color: #35AA47;
    border: 0 none;
    color: #FFFFFF;
}

.portlet.calendar .fc-event.sd-event-prev {
    background-color: #69A4E0;
    border: 0 none;
    color: #FFFFFF;
}