{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'SDUserBundle' %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans }}</p>
<a type="button" id="back-btn" href="{{ path("fos_user_security_login") }}" class="btn">
    <i class="m-icon-swapleft"></i> {% trans from 'SDUserBundle' %}Back{% endtrans %}
</a>
{% endblock fos_user_content %}
