{% trans_default_domain 'ListsHandlingBundle' %}

<div class="tab-pane" id="tab_1">
    <div class="col-md-12">
        <h3>{% trans %}Managers{% endtrans %}</h3>
        <p>{% trans %}Managers on handling{% endtrans %}</p>
        <div class="table-toolbar">
            <div class="btn-group" style="margin-bottom:10px;">
                {% if handling.managerProject is not empty %}
                <button id="managers_list_new" class="btn green ajax-form"
                        data-target_holder="managerFormTpl"
                        data-form_name="handlingUserForm"
                        data-default='{"handlingId":{{ handling.0.id }}}'
                        data-post_function="updateList"
                        data-post_target_id="managers_list"
                >
                    {% trans %}Add Manager{% endtrans %} <i class="fa fa-plus"></i>
                </button>
                {% endif %}
            </div>
            <div style="display: none" id="managerFormTpl">
            </div>
        </div>
        <div id="managers_list"
             data-url="{{ path('lists_' ~ baseRoutePrefix ~ '_handling_ajax_users', {
                handlingId: handling.0.id
             }) }}"
             data-params='{"handlingId":{{ handling.0.id }}'
        >
            {{ render(controller('ListsHandlingBundle:' ~ baseTemplate ~ ':HandlingUsers', {
                handlingId: handling.0.id
            })) }}
        </div>
    </div>
</div>
