{% trans_default_domain 'ListsDogovorBundle' %}
<script type="text/javascript">
    $(document).ready(function(){
        $.fn.modal.Constructor.prototype.enforceFocus = function() {};
    });
</script>

<div class="table-toolbar">
    <div class="btn-group">
        <a id="managers_list_new" class="btn green ajax-form"
           data-toggle="modal"
           href="#form_modal_dogovor_department"
           data-target_holder="dogovorDepartmentFormTpl"
           data-form_name="dogovorDepartmentForm"
           data-post_function="updateList"
           data-post_target_id="dogovor-department-list"
           data-default='{"dogovorId":{{ dogovor.id }} }'
                >
            {% trans %}Add New Departments{% endtrans %} <i class="fa fa-plus"></i>
        </a>
    </div>
</div>

<div id="form_modal_dogovor_department" class="modal fade" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans from 'ListsDogovorBundle' %}Departments{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div id="dogovorDepartmentFormTpl" data-text="{% trans from 'ListsContactBundle' %}Loading data. Please wait{% endtrans %}">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>

<div id="dogovor-department-list"
     data-url="{{ path('lists_dogovor_department_list', {
        dogovorId: dogovor.id
     }) }}"
     data-params='{"dogovorId":{{ dogovor.id }}}'
        >
    {{ render(controller('ListsDogovorBundle:DogovorDepartment:List', {
        dogovorId: dogovor.id,
    })) }}
</div>