{% trans_default_domain 'ListsReportBundle' %}
<div class="portlet yellow box">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>{% trans %}Services{% endtrans %}</div>
        <div class="tools">
            <a href="javascript:;" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body" style="display: none">
        <table class="table table-striped table-bordered table-advance table-hover">
            <thead>
            <tr>
                <th>{% trans %}Service{% endtrans %}</th>
                <th>{% trans %}Number{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.name }}</td>
                    <td>{{ service.reportNumber }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
