{% trans_default_domain 'ListsReportBundle' %}
<div class="portlet yellow box">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-cogs"></i>{% trans %}Week colors{% endtrans %}</div>
        <div class="tools">
            <a href="javascript:;" class="expand"></a>
        </div>
    </div>
    <div class="portlet-body" style="display: none">
        <table class="table table-striped table-bordered table-advance ">
            <thead>
            <tr>
                <th>{% trans %}Week Number{% endtrans %}</th>
                <th>{% trans %}Color{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>
                    <div class="itdoors-week-number-1" style="width: 100%; height: 100%">
                        &nbsp;
                    </div>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <div class="itdoors-week-number-2" style="width: 100%; height: 100%">
                        &nbsp;
                    </div>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>
                    <div class="itdoors-week-number-3" style="width: 100%; height: 100%">
                        &nbsp;
                    </div>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <div class="itdoors-week-number-4" style="width: 100%; height: 100%">
                        &nbsp;
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
