{% trans_default_domain 'ListsCoachBundle' %}
{% if is_granted('ROLE_COACH') %}    
    <a class="btn btn-lg green" href="{{ url('lists_coach_report_add') }}">{% trans %}Add{% endtrans %}</a>
{% endif %}
