{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsCoachBundle' %}
{% block title %}{% trans %}Show{% endtrans %} {% endblock %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Reports{% endtrans %} <small>{% trans %}show{% endtrans %}</small>
    </h3>
{% endblock %}

{% block page_breadcrumbs %}
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="{{ path('sd_dashboard_homepage') }}" title="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('lists_coach_index') }}" title="{% trans %}Reports{% endtrans %}">{% trans %}Reports{% endtrans %}</a>
        </li>
        <li>
            <a href="" title="{{ report.title }}">{{ report.title }}</a>
        </li>
    </ul>
{% endblock %}