{% trans_default_domain 'ListsCoachBundle' %}
    {{ ajax_filter_render('stuffFilterForm', namespase, {
        'datatable_ajax': 'ITDoorsAjax.updateList'
    }) }}
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                {{ render(controller('ListsCoachBundle:CoachReport:list')) }}
            </div>
        </div>
    </div>
