{% trans_default_domain 'ListsCoachBundle' %}
    {{ ajax_filter_render('reportFilterForm', namespase, {
        'datatable_ajax': 'ITDoorsAjax.updateList'
    }) }}
    <div class="row">
        <div class="col-md-12">
            <div id="datatable_ajax"  data-url="{{ url('lists_coach_report_list') }}" class="tab-content">
                {{ render(controller('ListsCoachBundle:CoachReport:list')) }}
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function(){
        	$('.itdoors-date-picker').datepicker({
                rtl: Metronic.isRTL(),
                autoclose: true,
                clearBtn: true,
                format: "dd.mm.yyyy",
                pickerPosition: (Metronic.isRTL() ? "bottom-right" : "bottom-left"),
                language: 'ru',
                startView: 'decade',
                weekStart: 1
            });
        	$('.itdoors-date-picker').css('width', 200);
        	$('#reportFilterForm_reset').click(function() {
        		$('.itdoors-date-picker').val(null);
        	});
        });
    </script>
