{% trans_default_domain 'ListsOrganizationBundle' %}
<div class="tab-pane" id="tab_2">
    <div class="col-md-12">
        <h3>{% trans %}Contacts{% endtrans %}</h3>
        <p>{% trans %}Contacts on organization{% endtrans %}</p>
        <div class="table-toolbar">
            <div class="btn-group">
                <button id="managers_list_new" class="btn green ajax-form"
                        data-target_holder="contactsFormTpl"
                        data-form_name="modelContactOrganizationAdminForm"
                        data-default='{"modelName":"organization","modelId":{{ organization.id }} }'
                        data-post_function="updateList"
                        data-post_target_id="contact_list"
                        >
                    {% trans %}Add contact{% endtrans %} <i class="fa fa-plus"></i>
                </button>
            </div>
            <div style="display: none" id="contactsFormTpl">
            </div>
        </div>
        <div id="contact_list"
             data-url="{{ path('lists_' ~ baseRoutePrefix ~ '_contact_ajax_organization', {
                organizationId: organization.id
             }) }}"
             data-params='{"organizationId":{{ organization.id }}'
         >
            {{ render(controller('ListsContactBundle:' ~  baseTemplate ~ ':Organization', {
                organizationId: organization.id
            })) }}
        </div>
    </div>
</div>
