{% trans_default_domain 'ITDoorsControllingBundle' %}
<div class="col-md-12">
        <table id="handling" class="table table-bordered table-striped">
            <tbody>
            <tr>
                <td style="width:15%">Отвественные</td>          
            </tr>
        </tbody>
    </table>

    </div>