{% extends "::base.html.twig" %}
{% block page_title %}
    <h3 class="page-title">
        {% trans %}Organization <small>create organization</small>{% endtrans %}
    </h3>
{% endblock %}

{% block body %}

    {{ organization.name }}

{% endblock body %}