{% trans_default_domain 'ListsOrganizationBundle' %}

<div class="tab-pane" id="tab_1">
    <div class="col-md-12">
        <h3>{% trans %}Managers{% endtrans %}</h3>
        <p>{% trans %}Managers on organization{% endtrans %}</p>
        <div id="managers_list"
             data-url="{{ path('lists_' ~ baseRoutePrefix ~ '_organization_ajax_users', {
                organizationId: organization.id
             }) }}"
             data-params='{"organizationId":{{ organization.id }}'
        >
            {{ render(controller('ListsOrganizationBundle:' ~ baseTemplate ~ ':OrganizationUsers', {
                organizationId: organization.id
            })) }}
        </div>
    </div>
</div>
