<a class="btn green margin-bottom-20" id="project-add-manager-project-add-btn" href="#" data-toggle="modal">
    {% trans from 'ListsProjectBundle'%}Install new  manager project{% endtrans %}
</a>
{{ ajax_form_render_btn({
    'selector' : '#project-add-manager-project-add-btn',
    'formType' : 'addManagerProjectForm',
    'successFunctions' : {
        'managers_list' : 'ITDoorsAjax.updateList'
    },
    'serviceDefault' : {
        'alias' : 'lists_project.service',
        'method' : 'addManagerFormDefaults'
    },
    'serviceSave' : {
        'alias' : 'lists_project.service',
        'method' : 'saveAddManagerProjectForm'
    },
    'defaults' : {
        'project' : object.id
    },
    'target' : '#form_modal_block',
    'html' : 'ListsProjectBundle:Form:addManagerForm.html.twig'
}) }}

