{% trans_default_domain 'ListsProjectBundle' %} 
{#<a class="btn default yellow-stripe" href="{{ path('lists_project_report_list_export', {type: type})}}">
    <i class="fa fa-share"></i>
    <span class="hidden-480">{% trans %}Export to Excel{% endtrans %}</span>
    <i class="fa fa-angle-down"></i>
</a>#}