<div class="col-md-12 col-sm-12">
    <div class="sd-event-green sd-event-text-div">
        {% trans from 'SDCalendarBundle' %}Future event{% endtrans %}
    </div>
    <div class="sd-event-yellow sd-event-text-div">
        {% trans from 'SDCalendarBundle' %}Event ok{% endtrans %}
    </div>
    <div class="sd-event-red sd-event-text-div">
        {% trans from 'SDCalendarBundle' %}Event overdue{% endtrans %}
    </div>
</div>
<div class="clear"></div>
