{% extends "::base.html.twig" %}
{% trans_default_domain 'ListsOrganizationBundle' %}
{% block title %}{% trans %}Create Organization{% endtrans %} {% endblock %}
{% block page_breadcrumbs %}
	<ul class="page-breadcrumb breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="{{ path('sd_dashboard_homepage') }}" titl="{% trans %}Dashboard{% endtrans %}">{% trans %}Dashboard{% endtrans %}</a> 
			<i class="fa fa-angle-right"></i>
		</li>
		<li><a href="{{ path('lists_sales_organization_new') }}" title="{% trans %}Create Organization{% endtrans %}">{% trans %}Create Organization{% endtrans %}</a></li>						
	</ul>
{% endblock %}
{% block page_title %}
	<h3 class="page-title">
		{% trans %}Organization <small>create organization</small>{% endtrans %}  
	</h3>
{% endblock %}

{% block body %}

    {{ form(
        filterForm,
        {
            'action': path('lists_sales_organization_new'),
            'attr': {'novalidate': 'novalidate'}
        })
    }}

{% endblock body %}