{% trans_default_domain 'ListsHandlingBundle' %}
<div class="tab-pane" id="tab_2">
    <div class="col-md-12">
        <h3>{% trans %}Contacts{% endtrans %}</h3>
        <p>{% trans %}Contacts on handling{% endtrans %}</p>
        <div class="table-toolbar">
            <div class="btn-group" style="margin-bottom: 10px;">
                <button id="managers_list_new" class="btn green ajax-form"
                        data-target="contactsFormTpl"
                        data-form_name="modelContactOrganizationAdminForm"
                        data-default='{"modelName":"organization","modelId":{{ handling.organizationId }} }'
                        data-post_function="updateList"
                        data-post_target_id="contact_list"
                        >
                    {% trans %}Add Contact{% endtrans %} <i class="fa fa-plus"></i>
                </button>
            </div>
            <div style="display: none" id="contactsFormTpl">
            </div>
        </div>
        <div id="contact_list"
             data-url="{{ path('lists_' ~ baseRoutePrefix ~ '_contact_ajax_handling', {
                handlingId: handling.0.id
             }) }}"
             data-params='{"handlingId":{{ handling.0.id }}'
         >
            {{ render(controller('ListsContactBundle:' ~ baseTemplate ~ ':Handling', {
                handlingId: handling.0.id
            })) }}
        </div>
    </div>
</div>