{% trans_default_domain 'ListsProjectBundle' %}
<div class="col-md-12">
    <h3>{% trans %}Managers{% endtrans %}</h3>
    {% if access.canChangeManager %}
        {{ include ('ListsProjectBundle:StateTender/Button:addManager.html.twig')}}
    {% endif %}
    <div id="managers_list" data-url="{{ path('lists_project_managers', { id: object.id }) }}">
        {{ render(controller('ListsProjectBundle:ProjectBase:managers', { id: object.id })) }}
    </div>
</div>