{% trans_default_domain 'ITDoorsControllingBundle' %}
<script>
    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x -50 ,
                border: '1px solid #333',
                padding: '4px',
                color: '#fff',
                'border-radius': '3px',
                'background-color': '#333',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
    }
    $(document).ready(function(){
         function chart5() {
            var d1 = [];
            var d2 = [];
            {% for  item in entities %}
                d1.push([{{ item.allSumma }}, '{{ item.customerName }}']);
                d2.push([{{ item.allSumma-item.paymentsSumma }}, '{{ item.customerName }}']);
           {% endfor %}
    function plotWithOptions() {
        $.plot($("#chart_5"), [
                {
                    label: "Общая сумма",
                    data: d1,
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0
                }, {
                    label: "Простроченая сумма",
                    data: d2,
                    lines: {
                        lineWidth: 1
                    },
                    shadowSize: 0
                }
            ], {
                series: {
                    bars: {
                        horizontal:true,
                        show: true,
                        barWidth: 0,
                        lineWidth: 50,
                        shadowSize: 0,
                        align: 'center'
                    },
                    points: {
                        show: true,
                        radius: 0,
                        lineWidth: 1
                    }
                },
                grid: {
                    hoverable: true,
                    tickColor: "#eee",
                    borderColor: "#eee",
                    borderWidth: 1
                },
                colors: ["#808080", "#d84a38"],
                xaxis: {
                    ticks: 5,
                    tickLength: 10,
                    labelHeight: 0,
                    tickDecimals: 2,
                    tickColor: "#eee"
                },
                yaxis: {
                    labelHeight: 50,
                    labelWidth: 150,
                    mode: "categories",
                    tickColor: "#eee",
                    tickLength: 0
                }
            }                       
        );
    }   

              /*  $(".stackControls input").click(function (e) {
                    e.preventDefault();
                    stack = $(this).val() == "With stacking" ? true : null;
                    plotWithOptions();
                });
                $(".graphControls input").click(function (e) {
                    e.preventDefault();
                    bars = $(this).val().indexOf("Bars") != -1;
                    lines = $(this).val().indexOf("Lines") != -1;
                    steps = $(this).val().indexOf("steps") != -1;
                    plotWithOptions();
                });*/

                plotWithOptions();
            }
            chart5();
            var previousPoint = null;
        $("#chart_5").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));
            if (item) {
                console.log(item.datapoint);
                if (previousPoint !== item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var y = item.datapoint[0].toFixed(2);

                    showTooltip(item.pageX, item.pageY, item.series.label + " " + y);
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    });
</script>
<div class="portlet box yellow">
    <div class="portlet-title">
            <div class="caption">
                    <i class="fa fa-gift"></i>График
            </div>
            <div class="tools">
                    <a href="javascript:;" class="collapse">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config">
                    </a>
                    <a href="javascript:;" class="reload">
                    </a>
                    <a href="javascript:;" class="remove">
                    </a>
            </div>
    </div>
    <div class="portlet-body">
        <div id="chart_5" style="height: {{ 52*entities|length }}px; padding: 0px; position: relative;"></div>
    </div>
</div>