{% trans_default_domain 'ListsDepartmentBundle' %}
<script>
    $(document).ready(function(){
        var initTableBank = function () {
            var table = $('#table-bank');

            table.dataTable({
                "bStateSave": true,

                "columns": [
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true }
                ],
                "lengthMenu": [
                    [10, 15, 20, -1],
                    [10, 15, 20, "{% trans %}All{% endtrans %}"]
                ],
                "pageLength": 15,            
                "pagingType": "bootstrap_full_number",
                "language": {
                    "search": "{% trans %}My search{% endtrans %}: ",
                    "lengthMenu": "  _MENU_ {% trans %}records{% endtrans %}",
                    "sInfo": "{% trans %}Showing _START_ to _END_ of _TOTAL_ entries{% endtrans %}",
                    "sZeroRecords": "{% trans %}No matching records found{% endtrans %}",
                    "sInfoEmpty": "{% trans %}No matching records found{% endtrans %}",
                    "sInfoFiltered": "({% trans %}filtered from _MAX_ total entries{% endtrans %})",
                    "paginate": {
                        "previous":"{% trans %}Prev{% endtrans %}",
                        "next": "{% trans %}Next{% endtrans %}",
                        "last": "{% trans %}Last{% endtrans %}",
                        "first": "{% trans %}First{% endtrans %}"
                    }
                },
                "columnDefs": [{
                    'orderable': false,
                    'targets': [0]
                }, {
                    "searchable": false,
                    "targets": [0]
                }],
                "order": [
                    [1, "asc"]
                ]
            });
        };
        initTableBank();
    });
</script>
<table class="table table-striped table-bordered table-advance table-hover" id="table-bank">
    <thead>
        <tr>
            <th>{% trans %}ID{% endtrans %} </th>
            <th>{% trans %}MFO{% endtrans %} </th>
            <th>{% trans %}Bank{% endtrans %} </th>
        </tr>
    </thead>
    <tbody>
        {% for item in banks %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ item.id }}</td>
                <td>{{ item.mfo|e }}</td>
                <td>{{ item.name|e }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
