{% trans_default_domain 'ListsOrganizationBundle' %}

<div class="btn-group margin-bottom-20">
<a class="btn green" id="currentAccount-add-btn" href="#" data-toggle="modal">
    <i class="fa fa-plus"></i>
    {% trans %}Add bank{% endtrans %}
</a>
    {{ ajax_form_render_btn({
       'selector' : '#currentAccount-add-btn',
       'formType' : 'currentAccountForm',
       'successFunctions' : {
           'bank_list' : 'ITDoorsAjax.updateList'
       },
       'serviceDefault' : {
           'alias' : 'lists_organization.service',
           'method' : 'currentAccountFormDefaults'
       },
       'serviceSave' : {
           'alias' : 'lists_organization.service',
           'method' : 'saveCurrentAccountForm'
       },
       'defaults' : {
           'organizationId' : organization.id
       },
       'target' : '#form_modal_currentAccount',
       'html' : 'ListsOrganizationBundle:Form:currentAccountForm.html.twig'
   }) }}
<div id="form_modal_currentAccount" class="modal" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">{% trans %}New bank{% endtrans %}</h4>
            </div>
            <div class="modal-body">
                <div data-text="{% trans %}Loading data. Please wait{% endtrans %}"></div>
            </div>
        </div>
    </div>
</div>
</div>

