<script type="text/javascript">
    $(document).ready(function(){
        $('#calendar').fullCalendar({
            header: {
                left:   'title',
                center: '',
                right:  'today month prev,next'
            },
            events : {{ events|json_encode|raw }},
            eventClick: function(event) {
                if (event.url) {
                    window.open(event.url);
                    return false;
                }
            },
            editable: true,
            droppable: true,
            dayClick: function(date, allDay, jsEvent, view) {

            }
        });
    })
</script>



    <div class="col-md-12 col-sm-12">
        <div class="portlet box blue calendar">
            <div class="portlet-title">
                <div class="caption"><i class="fa fa-calendar"></i> Мой Календарь</div>
                </div>
                <div class="portlet-body light-grey">
                    <div id="calendar" class="fc fc-ltr">
                    </div>
                </div>
            </div>
        </div>
    </div>
{#
<div class="col-md-9 col-sm-9">
    <div id="calendar" class="has-toolbar"></div>
</div>
#}