<script type="text/javascript">
    $(document).ready(function(){
        
        
        $('#calendar').fullCalendar({
            header: {
                left:   'title',
                center: '',
                right:  'today, month, prev, next, agendaDay'
            },
            firstDay: 1,
            events: {
                url: '{{ url }}'
            },
            loading: function(isLoading){
                if (isLoading)
                {
                    SD.blockUI($('div.calendar'));
                }
                else
                {
                    SD.unblockUI($('div.calendar'));
                }
            },
            editable: true,
            droppable: true,
            dayClick: function(date, allDay, jsEvent, view) {

            },
            monthNames: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
            monthNamesShort: ["Янв.","Фев.","Мар.","Апр.","Май","Июн.","Июл.","Авг.","Сен.","Окт.","Ноя.","Дек."],
            dayNamesShort: ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
            dayNames: ['Воскресенье','Понедельник','Вторник','Среда','Четвер','Пятница','Суббота'],
            buttonText: {
                prev: "&nbsp;&#9668;&nbsp;",
                next: "&nbsp;&#9658;&nbsp;",
                prevYear: "&nbsp;&lt;&lt;&nbsp;",
                nextYear: "&nbsp;&gt;&gt;&nbsp;",
                today: "Сегодня",
                month: "Месяц",
                week: "Неделя",
                day: "День"
            },
            titleFormat: {
		month: 'MMMM yyyy',
		week: "MMM d[ yyyy]{ '&#8212;'[ MMM] d yyyy}",
		day: 'dddd d MMM yyyy'
            },
            axisFormat: 'HH',
            allDayText: 'Весь день',
            eventMouseover: function(event, jsEvent, view) {
                $(this).attr('title', event.hover_title);
                $(this).attr('data-id', event.data_id);
              
            },
            eventClick: function(event, element) {

console.log(event);
console.log(element);
               // alert('ok');

                //$('#calendar').fullCalendar('updateEvent', event);

            }
        });
    });
</script>

<div class="portlet box blue calendar">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-calendar"></i>
            {% if text is defined  %}
                {{ text }}
            {% else %}
                {% trans from 'messages' %}My Calendar{% endtrans%}
            {% endif %}
        </div>
    </div>
    <div class="portlet-body light-grey">
        <div id="calendar" class="fc fc-ltr"></div>
    </div>
</div>
