<script type="text/javascript">
    $(document).ready(function(){
        $('#calendar').fullCalendar({
            header: {
                left:   'title',
                center: '',
                right:  'today month prev,next'
            },
            firstDay: 1,
            events: '{{ url }}',
            loading: function(isLoading){
                var opacity = isLoading ? '0.2' : '1';
                $('div.calendar').css('opacity', opacity);
            },
            editable: true,
            droppable: true,
            dayClick: function(date, allDay, jsEvent, view) {

            },
            monthNames: ["Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь"],
            dayNamesShort: ["Вс","Пн","Вт","Ср","Чт","Пт","Сб"],
            buttonText: {
                prev: "&nbsp;&#9668;&nbsp;",
                next: "&nbsp;&#9658;&nbsp;",
                prevYear: "&nbsp;&lt;&lt;&nbsp;",
                nextYear: "&nbsp;&gt;&gt;&nbsp;",
                today: "Сегодня",
                month: "Месяц",
                week: "Неделя",
                day: "День"
            }
        });
    })
</script>

<div class="col-md-12 col-sm-12">
    <div class="portlet box blue calendar">
        <div class="portlet-title">
            <div class="caption"><i class="fa fa-calendar"></i> Мой Календарь</div>
            </div>
            <div class="portlet-body light-grey">
                <div id="calendar" class="fc fc-ltr">
                </div>
            </div>
        </div>
    </div>
</div>

